

.title{
    position: fixed;
    top: 10%;
    display: block;
    height: 100px;
    left: 600px;
    font-size: large;
    font-family: "Courier", sans-serif;
}

.container {
    position: fixed;
    align-items: center;
    left: 600px;
    bottom: 0%;
}

.form{
    transform: scale(0.75);
}

.radio {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

label{
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.mapborder{
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: flex;
    bottom: 275px;
    padding: 16px;
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 14px;
    border: 5px solid #50dae4;
    background-color: #f8f2f8;
}

.map{
    position: fixed;
    top: 17%;
    display: block;
    height: 100px;
    left: 550px;
}


.invalid{
    position: fixed;
    top: 37%;
    display: block;
    height: 100px;
    left: 575px;
}

  


 