body, html {
    height: 50%;
}

.title{
    position: fixed;
    top: 9%;
    left: 400px
    
}

.img{
    position: fixed;
    display: block;
    top: 15%;
    left: 500px;
    margin: 0 0 0 0;
    height: 100px;

}

.intro{
    position: fixed;
    display: block;
    top: 60%;
    left:400px;
    margin: -50px 0 0 0;
    height: 100px;

}

.outro{
    position: fixed;
    display: block;
    bottom: 15%;
    left:400px;
    font-family: Arial, Helvetica, sans-serif;

}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

#h1 {
    font-family: "Helvetica Neue", sans-serif;
  }

.card {
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    position: flex;
    bottom: 275px;
    padding: 16px;
    margin: auto;
    width: 700px;
    height: 200px;
    border-radius: 14px;
    border: 3px solid #15d3fd;
    background-color: #fefefe;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.box {
    margin-top: -50pt;
    
 }
