
.body {
    background-size: cover;
    background-repeat: no-repeat;
}

.background{
    /* background-image: url('../../image/graf.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}

.navbar{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #4f73a3;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
} 

.container_fluid{
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 5px 10%;
}

.nav_items{
    position: relative;
    align-items: right;
    display: inline-block;
    left: 800px;
    padding: 0px 20px;
}




